* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.btn {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

.border-bottom {
  border-bottom: 1px solid rgb(47, 51, 54);
}

.content-padding {
  padding-inline: 16px;
}

.container {

  display: flex;
  justify-content: center;
}


.nav {
  width: 242.200px;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;;
  position: sticky;
}

.nav-content {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.logo {
  width: 50px;
  cursor: pointer;
  padding-block: 2px;
}

.nav-item {
  color: #fff;
  width: 242.200px;
  padding: 12px;
  font-size: 22px;
  text-decoration: none;
  word-wrap: break-word;
}

.nav-item span {
  font-weight: 400;
  line-height: 24px;
  margin-inline: 10px;
}

.nav-item i,
.grok {
  height: 26.25px;
  width: 26.25px;
}

.send {
  border-radius: 9999px;
  width: 233px;
  height: 52px;
  margin-block: 4px;
}

.send span {
  padding-inline: 32px;
}

.profile {
  width: 242.2px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-block: 12px;
  padding: 12px;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: #fff;
  border: none;
}

.profile-photo {
  width: 55px;
}

.user-name {
  width: 159px;
  margin-inline: 12px;
}

.user-name p {
  font-size: 17px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dots {
  width: 18.75px;
  font-weight: 600;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-block: 12px;
  width: 600px;
  border-inline: 1px solid rgb(47, 51, 54);
}

.content-header {
  display: flex;
}

.content-header span {
  padding: 16px;
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
}

.special {
  color: #fff;
  /* rgb(29, 155, 240); seçili öğenin altındaki mavilik*/
}

.followed {
  color: rgb(113, 118, 123);
}

.sharing {
  display: flex;
  padding-top: 4px;
}

.sharing-photo img {
  width: 40px;
  padding-top: 8px;
  margin-right: 8px;
}

.sharing-area {
  padding-top: 4px;
}

.dropdown {
  width: 93.5px;
  padding-block: 2px;
  text-align: center;
  border: 1px solid rgb(29, 155, 240);
  border-radius: 10px;
  margin-bottom: 12px;
  color: rgb(29, 155, 240);
}

.dropdown span {
  font-weight: 500;
}

.dropdown i {
  margin-left: 2px;
  width: 16px;
  height: 16px;
  color: rgb(29, 155, 240);
}

.form {
  padding-block: 12px;
}

.form-input {
  width: 514px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-block: 2px;
  background-color: black;
  overflow-wrap: break-word;
  outline: none;
  border: none;
  resize: none;
}

.answer-options-btn {
  background-color: black;
  color: rgb(29, 155, 240);
  border: none;
  margin-bottom: 12px;
}

.answer-options-btn i {
  width: 16px;
  height: 16px;
}

.answer-options-btn span {
  font-size: 15px;
  margin-left: 4px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.sharing-items {
  width: 534px;
  padding-block: 10px;
  padding-right: 16px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(29, 155, 240);
}

.sharing-items-icon {
  display: flex;
  gap: 14px;
}

.sharing-items-icon i,
.sharing-items-icon img {
  cursor: pointer;
}

.sharing-items button {
  padding: 10px 16px;
  font-size: 16.2px;
  border-radius: 30px;
}

.sharing-items-grok {
  width: 16px;
  height: 16px;
  color: rgb(29, 155, 240);
}

.content-items {
  display: flex;
  padding-block: 12px;
  border-block: 1px solid rgb(47, 51, 54);
}

.content-items-photo {
  margin-right: 8px;
}

.content-items-photo img {
  width: 40px;
}

.content-items-info {
  width: 100%;
}

.head {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.content-items-info-user {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(113, 118, 123, 1);
}

.content-items-info-user-name {
  color: rgb(231, 233, 234);
}

.content-items-info-user-name:hover {
  text-decoration: underline;
  text-decoration-color: rgb(231, 233, 234);
}

.content-items-info-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(113, 118, 123);
}

.info {
  color: rgb(231, 233, 234);
  font-size: 18px;
  font-weight: 400;
}

.info img {
  width: 100%;
  margin-block: 12px;
  border-radius: 16px;
  cursor: pointer;
}

.interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interaction-item {
  display: flex;
  gap: 18px;
} 

.fas, .far {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(114, 118, 123);
  font-size: 16px;
}

.fas p, .far p{
  font-size: 13px;
  letter-spacing: 1.5px;
}

.interaction span{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  gap: 4px;
} 

.fa-comment:hover,
.fa-signal:hover, 
.bookmark:hover,
.bracket:hover{
  color: rgb(29 155 240);
}

.fa-repeat:hover{
  color: rgb(0, 186, 124);
}

.fa-heart:hover
{
  color: rgb(249, 24, 128); 
}

.bookmark {
  cursor: pointer;
}

.bracket {
  cursor: pointer;
}








.discover {
  width: 350px;
}